<% if @game %>
  <h1>Scores for <%= @game.name %></h1>
<%else %>
  <h2> All Score </h2>
<%end%>

<% @scores.each do |score| %>
  <%= render(ScoreComponent.new(score: score, game: score.game)) %>
<%end%>
<% if @game %>
  <p>
    <%= link_to "Add New Score", new_game_score_path(@game) %>
  </p>
<% end %>
