<h1>Welcome To MVP Board Games Hub</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h2>Welcome, <%= current_user.name %>!</h2>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
