<div classname="game-header">
  <h1>All Games</h1>

  <div data-controller="game-select">
    <%= select_tag :game_id,
        options_from_collection_for_select(Game.all, :id, :name, @game&.id),
        prompt: "Filter by Game",
        data: { action: "change->game-select#selectGame" } %>
  </div>
</div>

<% @games.each do |game| %>

  <br>
  <strong>Name:</strong>
  <li><%= game.name %></li>
  |
  <strong>Genre:</strong> <%= game.genre %> |
  <%= link_to "View Details", game_path(game) %>
  <br>

<% end %>
<div>
  <input data-container="click->">
